
.main-title {
  text-align: center;
  user-select: none;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  pointer-events: none
}

.guess-button {
  text-align: center;
  background-color: black;
  display: inline-block;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  width: 200px;
  color: white;
  cursor: pointer;

}

.guess-button:active {
  background-color: white;
}

.MuiSlider-root {
  color: #2e8b57;
}

.MuiSlider-root .MuiSlider-thumb {
  border-radius: 1px;
}

.absolute-header {
  
  font-size: 3em;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  
}